@using System.Collections
@model IEnumerable<Database_Layer.DatabaseEntities.Transaction>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @{
        ViewData["Title"] = "Transactions";
    }
</head>
<body>
    <div class="header">
        <h1 class="display-4">Transactions</h1>
    </div>

    <div class="pagebody">
        @if (Model != null && Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Transaction ID</th>
                        <th>User ID</th>
                        <th>Total Amount</th>
                        <th>Transaction Date</th>
                        <!-- Add more table headers as needed -->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in Model)
                    {
                        <tr>
                            <td>@transaction.TransactionId</td>
                            <td>@transaction.UserId</td>
                            <td>@transaction.TotalAmount</td>
                            <td>@transaction.TransactionDate</td>
                            <!-- Add more table cells for other transaction properties -->
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No transactions available.</p>
        }
    </div>
</body>
</html>
