<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">

@{
    ViewData["Title"] = "Contuct";
}
</head>
<body>


<div class="header">
    <h1 class="display-4">Contact us</h1>
</div>

<div class="pagebody">
    <fieldset class="first">
            <h2>Contact us</h2>
            <p>
                For any inquiries, feedback, or assistance, please don't hesitate to reach out to us. We value your input and are committed to providing exceptional customer service
            </p>
            <p>
                You can contact us through the following channels:
            </p>

            <p><b>Email:</b></p>
            <p>contact@khumalocraftemporium.com</p>

            <p><b>Phone:</b></p>
            <p>+27 (0)12 345 6789</p>

            <p><b>Address:</b></p>
            <p>
                <ul style="list-style-type: none;">
                    <li>KhumaloCraft Emporium</li>
                    <li>123 Artisan Way</li>
                    <li>Pretoria Gauteng</li>
                    <li>0177</li>
                    <li>South Africa</li>
                </ul>
            </p>

            <p>
                Our dedicated team is here to assist you with any questions or concerns you may have. We strive to respond promptly to all inquiries and ensure your satisfaction with our products and services.
            </p>
            <p>
                Thank you for choosing KhumaloCraft Emporium. We look forward to hearing from you!
            </p>
    </fieldset>
        
</div>
</body>
</html>
