<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    @{
        ViewData["Title"] = "Home Page";
    }
    </head>
    <body>
    
    <div class="header">
        <h1 class ="display-2">KhumaloCraft</h1>
        <h1 class="display-4">Home</h1> 
        <p>Welcome to KhumaloCraft</p>
    </div>
        
    <div class="pagebody">
        
        <fieldset class="first">
            <h3>Sculpture Art Crafts</h3>
        </fieldset>

        <fieldset>
            <h3>Wood Carving Art Crafts</h3>
        </fieldset>

        <fieldset>
            <h3>Painting Art Crafts</h3>
        </fieldset>

        <fieldset>
            <h3>Pottery Art Crafts</h3>
        </fieldset>

        <fieldset>
            <h3>Beadwork Art Crafts</h3>
        </fieldset>

        <fieldset>
            <h3>Glass Art Crafts</h3>
        </fieldset>

    </div>
       
    </body>




</html>
    


